/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background: #2e8b57;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header h2 {
    font-size: 28px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Home Section */
#home {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #4CAF50, #2E8B57);
    color: white;
}

#home h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

#home p {
    font-size: 20px;
    margin-bottom: 30px;
}

button {
    background: orange;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background: darkorange;
}

/* Sections */
section {
    padding: 60px 40px;
}

section h2 {
    text-align: center;
    color: #2E8B57;
    margin-bottom: 30px;
}

/* Service Cards */
#services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#services div {
    background: white;
    width: 300px;
    padding: 25px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

#services h3 {
    color: #2E8B57;
    margin-bottom: 15px;
}

/* Statistics */
section h3 {
    text-align: center;
    font-size: 35px;
    color: orange;
}

section p {
    text-align: center;
    margin-bottom: 15px;
}

/* Footer */
footer {
    background: #2E8B57;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {

    header {
        flex-direction: column;
    }

    nav {
        margin-top: 15px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    #home h1 {
        font-size: 30px;
    }

    #services {
        flex-direction: column;
        align-items: center;
    }

    #services div {
        width: 90%;
    }
}
/* Login Page */

.login-container{
    width:350px;
    margin:60px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

.login-container h2{
    text-align:center;
    color:#2E8B57;
    margin-bottom:20px;
}

.login-container input,
.login-container select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

.login-container button{
    width:100%;
}
